<!DOCTYPE html>
<html>
  <head>
  	<title>
  		Activities
  	</title>
  	  <link href="stylesheets/game-menu_style.css" type="text/css" rel="stylesheet">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color:White ;">

    <h1>
    Activities<br />
    </h1>
    <h2>
    Please choose an activity.<br /><br /><br />
    </h2>
    <p>
</p>
<div class="container choices">
  <div class="col">
    <div class="col-sm-6"><a href="../game2">Scavenger easy</a></div>
    <div class="col-sm-6"><a href="../game3">Scavenger hard</a></div>
    <div class="col-sm-6"><a href="../Game">Relax</a></div>
    <div class="col-sm-6"><a href="../main-menu">Back to menu</a></div>
  </div>
</div>
</body>
<p>
<br />
<br />
<br /><br /><br /><br /><br /><br /><br />
<a href="http://localhost:3000" target="_blank">sign out
</p>