<!DOCTYPE html>
<html>
  <head>
  	<title>
  		(Name of application)
  	</title>
  	  <link href="stylesheets/main-menu_style.css" type="text/css" rel="stylesheet">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color:White ;">

    <h1>
    Welcome to (Name of application)!<br />
    </h1>
    <h2>
    Please choose the function you want to use.<br /><br /><br />
    </h2>
<!--       <p>Notes</p>
      <img src="/images/Button.png" width="180px;">
      <p>Calendar</p>
      <img src="/images/Button.png" width="180px;">
      <p>Checklist</p>
      <img src="/images/Button.png" width="180px;">
      <p>Games</p>
      <img src="/images/Button.png" width="180px;">

       </div> -->
<!-- <p>
  <img src="/images/Button.png">
  <img src="/images/Button.png">
  <img src="/images/Button.png">
  <img src="/images/Button.png">
</p>
<div class="container choices">
  <div class="row">
    <div class="col-sm-6"><a href="#">Notes</a></div>
    <div class="col-sm-6"><a href="#">Calendar</a></div>
  </div>
  <div class="row">
    <div class="col-sm-6"><a href="#">Checklist</a></div>
    <div class="col-sm-6"><a href="#">Games</a></div>
  </div>
</div> -->
<!-- <div class="container choices">
  <div class="row">
    <div class="col-sm-6"><a href="#"> <img src="/images/schedule.png"></a>
    </div>
  </div>
<div class="row">
    <div class="col-sm-6"><a href="#"> <img src="/images/activities.png"></a>
    </div>
  </div> -->
<!--   <p>
  <table>
    <tr>
      <td align="center" valign="center"><img src="/images/schedule.png"></td>
      <td align="center" valign="center"><img src="/images/activities.png"></td>
    </tr>
    <tr>
      <th align="center" valign="center">Schedule</th>
      <th align="center" valign="center">Activities</th>
    </tr>
  </table> -->

<table width="100" border="0" cellpadding="5" align="center">

<tr>

<td class="choices">
<a href="http://localhost:3000" target="_blank"><img src="/images/schedule.png" width="270px";/>
<br />
Schedule
</td>

<td class="choices">
<a href="http://localhost:3000" target="_blank"><img src="/images/activities.png" width="270px";/>
<br />
Activities
</td>

</tr>

</table>
</body>
<p>
<br /><br /><br /><br /><br /><a href="http://localhost:3000" target="_blank">sign out
</p>
<!-- <div class=choices>
  <img src="/images/schedule.png">
  <img src="images/activities.png">
</div>
</p>
	</body>

</html> -->

